body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 2.5;
}

div.splash {
    display: block;
    width: .50rem;
    height: .25rem;
    float: right
}


svg-viewBox {
display: flex;
flex-direction: column;
}

svg {
    justify-content: space-around;
    height: 5%;
    width: 5%;
}

contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3%;
    width: 5%;
}

.contact-box {
    -webkit-box-shadow: inset 0 15px 10px -9px #787878;
    box-shadow: inset 0 15px 10px -9px #787878;  
}

contact input {
    margin-top: 60px;
}

contact input, textarea {
  border: 0px;
  background-color: lightgray;
  border-radius: 4px;
  color:black;
  padding: 12px 12px 12px 12px;
}

textarea {
    margin-top: 40px;
    width: 650px;
    height: 140px;
}

submit {
    margin-top: 45px;
    margin-left: 40%;
    border: 2px solid;
}

contact {
    width: 12%;
    height: 2px;
    border-top: 0px;
}
