body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.me {
    font-size: 3rem;
    display: center;  
    position: relative; top: -75px;
}

.itsme {
    border-radius: 50%;
    float: center;
    position: relative; top: -96px;
}

.menu {
    font-size: 2rem;
    
}

.splash {
    width: 45rem;
    height: 37rem;
    display: left;
    float: left;

}

svg {
    justify-content: space-around;
    height: 5%;
    width: 5%;
}

h2 {
    flex-direction: column;
    display: center;
}

.mt {
    width: 65%;
    height: 60%;
    display: center;
}

.toma {
    width: 65%;
    height: 60%;
    display: center;
}

contact {

    flex-direction: row;
    justify-content: space-around;
    height: 3%;
    width: 5%;
}

.contact-box {
    -webkit-box-shadow: inset 0 15px 10px -9px #787878;
    box-shadow: inset 0 15px 10px -9px #787878;  
}

contact input {
    margin-top: 60px;
}

contact input, textarea {
  border: 0px;
  background-color: lightgray;
  border-radius: 4px;
  color:black;
  padding: 12px 12px 12px 12px;
}

textarea {
    margin-top: 40px;
    width: 650px;
    height: 140px;
    flex-direction: row;
}

submit {
    margin-top: 45px;
    margin-left: 40%;
    border: 2px solid;
}

contact {
    width: 12%;
    height: 2px;
    border-top: 0px;
}
.git {
    height: 5rem;
    width: 50px;
    position: relative;
    bottom: 0rem;
}

.link {
    height: 5rem;
    width: 50px;
    position: relative;
    bottom: 0rem;
}

.emailme {
    height: 5rem;
    width: 50px;
    position: relative;
    bottom: 0rem;
}

