body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.me {
    font-size: 3rem;
    display: center;  
    position: relative; top: -45px;
}

.itsme {
    border-radius: 50%;
    float: center;
    position: relative; top: -54px;
}


.menu {
    font-size: 2rem;
    column-gap: 5%;
    
}

li {
    list-style-type: none;
    position: relative; top: -50px;
    margin-bottom: 1.5%;
}


.splash {
    width: 45rem;
    height: 37rem;
    display: left;
    float: left;

}

svg {
    justify-content: space-around;
    height: 4%;
    width: 4%;
}

h2 {
    flex-direction: column;
    display: center;
}

.juicebx {
    width: 55%;
    height: 50%;
    display: center;

}

.mt {
    width: 65%;
    height: 60%;
    display: center;
}

.toma {
    width: 65%;
    height: 60%;
    display: center;
}

contact {

    flex-direction: row;
    justify-content: space-around;
    height: 3%;
    width: 5%;
}

.icon {
    display: flex;
    justify-content: space-around;
}

.git {
    height: 5rem;
    width: 50px;
    position: relative;
    bottom: 0rem;
    margin-left: 1%;
}

.link {
    height: 5rem;
    width: 50px;
    position: relative;
    bottom: 0rem;
}

.emailme {
    height: 5rem;
    width: 50px;
    position: relative;
    bottom: 0rem;
   margin-right: 2%;
}

